{% extends "base.html" %}
{% block body %}
<main id="about-page" class="container">
  <div>
    <ul>
      <li class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="../static/assets/img/mikes_mug.jpg"/>
          <div><strong>Mike Harrison</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <h2>Mike's Message</h2>
            I'm a Python developer and proud of it.
            I eat chinese food mostly because I like the box that it comes in.
            I have a weakness for morning coffee at Street Bean and Test Driven Development.
            You can typically find me kickin it at Code Fellows with my Hacker Bros.
            I think I can grow a mustache.
          </p>
        <div>
      </li>
      <li class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="../static/assets/img/stevens_mug.jpg"/>
          <div><strong>Steven Than</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <h2>Steven's Message</h2>
            Hi everyone. I'm Steven and I'm awesome.
            I was once ping pong city champion, but that was many years ago.
            Now my focus is on writing clean Pythonic code, but I'm not afraid of my JavaScript roots.
            You will often see me using a mouse even though I tell everyone it's a waste of time.
            What's a mustache?
          </p>
        </div>
      </li>
      <li class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="../static/assets/img/vics_mug.jpg"/>
          <div><strong>Vic Benavente</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <h2>Vic's Message</h2>
            I'm 6 feet tall, single and handsome.  At least that's what I tell myself.
            I am the current Code Fellows ping pong champion.
            My focus is on surving 5 more weeks of Python.
            I enjoy long walks off short piers and Mets games on brisk autumn nights in New York.
            I miss my mustache.
          </p>
        </div>
      </li>
    </ul>
  </div>
</main>
{% endblock %}
