{% extends "layout.html" %}
	{% block basecss %}
    <!-- Custom css -->
		<meta name='B-verify' content='17b28608c286faec0a06a5390ad8c4f15eb0b859'g>
		{% block css %}{% endblock %}
	{% endblock %}

	{% block basebody %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="/"><img id="nav-logo" src="{{ request.static_url('deal_thief:static/assets/img/dealthief-logo.png') }}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
						{% if is_authenticated %}
            	<li><a href="/dashboard">Dashboard</a></li>
            	<li><a href="/logout">Logout</a></li>
						{% else %}
            	<li><a href="/login">Login</a></li>
						{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block body %}{% endblock %}

    <!-- Vendor scripts -->
		{% block basejs %}
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_API_KEY&callback=initMap"
	 type="text/javascript"></script>
			<!-- Custom scripts -->
			{% block js %}{% endblock %}
		{% endblock %}
	{% endblock %}
</html>

