{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ request.static_url('deal_thief:static/assets/css/home.css') }}" />
	<link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/masterslider/masterslider.css') }}" />
	<link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/masterslider/skins/default/style.css') }}" />
	<link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/datepicker/css/bootstrap-datepicker3.min.css') }}" />
	<link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda-themeless.min.css') }}" />


{% endblock %}


{% block body %}

<main id="home-page" class="container-fluid">
  <section id="slider" class="row">
		<div class="master-slider ms-skin-default" id="hotdeals-slider">
			<div class="ms-slide">
				<img src="static/vendor/plugins/masterslider/style/blank.gif" data-src="static/assets/img/seattle.jpg" alt=""/>
				<div class="ms-layer ms-caption">
					<h1>SEATTLE, USA</h1>
					<p>Starting at $117 per night</p>
					<a href="/search" class="btn btn-info">Book now</a>
				</div>
			</div>
			<div class="ms-slide">
				<img src="static/vendor/plugins/masterslider/style/blank.gif" data-src="static/assets/img/london.jpg" alt=""/>
				<div class="ms-layer ms-caption">
					<h1>LONDON, UK</h1>
					<p>Starting at $117 per night</p>
					<a href="/search" class="btn btn-info">Book now</a>
				</div>
			</div>
			<div class="ms-slide">
				<img src="static/vendor/plugins/masterslider/style/blank.gif" data-src="static/assets/img/singapore.jpg" alt=""/>
				<div class="ms-layer ms-caption">
					<h1>SINGAPORE CITY, SINGAPORE</h1>
					<p>Starting at $101 per night</p>
					<a href="/search" class="btn btn-info">Book now</a>
				</div>
			</div>
		</div>
  </section>
	<section id="search-section" class="row">
		<div id="search-title" class="col-sm-3">
			<h3>Secure your best deals, now!</h3>
		</div>
		<div id="search-form-container" class="col-sm-9">
			<form action="/search" id="search-form" class="form-inline" method="GET">
				<div class="col-sm-5 input-wrapper">
					<div class="form-group">
						<label for="location">Destination</label>
						<input type="text" class="form-control" id="location" name="location" placeholder="Where to?" required>
					</div>
				</div>
				<div class="col-sm-4 input-wrapper">
					<label for="date">Date</label>
					<div class="form-group input-daterange input-group col-sm-4" id="search-date">
						<input type="text" class="form-control checkin" name="start" placeholder="Check in" readonly required/>
						<span class="input-group-addon">to</span>
						<input type="text" class="form-control checkout" name="end" placeholder="Check out" readonly required/>
					</div>
				</div>
				<div class="col-sm-3 input-wrapper">
					<a class="ladda-button btn btn-default" data-style="expand-right"><span class="ladda-label">Search</span></a>
				</div>
				{% if not is_authenticated %}
				<div class="col-sm-12 input-wrapper">
					<a href="/login"><small class="text-center">Log in to save your searches</small></a>
				</div>
				{% endif %}
			</form>
		</div>
	</section>
</main>

{% endblock %}


{% block js %}

	<script src="{{ request.static_url('deal_thief:static/vendor/plugins/masterslider/masterslider.min.js') }}"></script>
	<script src="{{ request.static_url('deal_thief:static/vendor/plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/spin.min.js') }}"></script>
	<script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda.min.js') }}"></script>
	<script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda.jquery.min.js') }}"></script>



	<script>
			var slider = new MasterSlider();
			slider.setup('hotdeals-slider' , {
				layout: 'autofill',
				layersMode: 'full',
				autoplay: true,
				mouse: false,
				view: 'flow',
				shuffle: true,
			});

			var l = $( '.ladda-button' ).ladda();
      l.click(function(){

          // Start loading
          l.ladda('start');

          // Do something in backend and then stop ladda
          // setTimeout() is only for demo purpose
          $('#search-form').submit();

      });
	</script>

	<script>
	$('#search-date').datepicker({
		startDate: '+1d',
		autoclose: true,
		todayHighlight: true,
	});
	</script>
{% endblock %}
