<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Deal Thief | {{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor css -->
    <link rel="stylesheet" href="/static/vendor/css/normalize.css">
    <link rel="stylesheet" href="/static/vendor/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.offcanvas.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin">

    <!-- Custom css -->
    <link rel="stylesheet" href="/static/assets/css/base.css">
    <link rel="stylesheet" href="/static/assets/css/layout.css">
    <link rel="stylesheet" href="/static/assets/css/modules.css">
		{% block basecss %} {% endblock %}
  <body>
		<script src="/static/vendor/js/jquery-2.2.4.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.offcanvas.min.js"></script>
		{% block basebody %} {% endblock %}
	</body>
</html>
