{% extends "base.html" %}
{% block body %}
<main id="login" class="container portal-main">
  <section class="row">
    {% if error != '' %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ error }}
      </div>
    {% endif %}
    <form action="" method="post" class="form-signin">
      <input type="text" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <a href="/register" class="btn btn-lg btn-success btn-block">Register</a>
    </form>
  </section>
</main>
{% endblock %}
