
{% extends "base.html" %}
{% block body %}
<main id="login" class="container">
  <section class="row">
    {% if error != '' %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ error }}
      </div>
    {% endif %}
    <form action="" method="post" class="form-signin">
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
  </section>
</main>
{% endblock %}
