{% extends 'base.html' %}

{% block css %}

  <link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/datepicker/css/bootstrap-datepicker3.min.css') }}" />
  <link rel="stylesheet" href="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda-themeless.min.css') }}" />

{% endblock %}

{% block body %}

<main id="search-page" class="container">
  <div class="row form-section">
    <div id="search-form-container" class="col-sm-12">
      <form id="search-form" class="form-inline" method="GET">
        <div class="col-sm-5 col-sm-offset-1 input-wrapper">
          <div class="form-group">
            <label for="location">Destination</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Where to?" required>
          </div>
        </div>
        <div class="col-sm-4 input-wrapper">
          <label for="date">Date</label>
          <div class="form-group input-daterange input-group col-sm-4" id="search-date">
            <input type="text" class="form-control" name="start" placeholder="Check in" readonly required/>
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" placeholder="Check out" readonly required/>
          </div>
        </div>
        <div class="col-sm-1 input-wrapper">
          <a class="ladda-button btn btn-default" data-style="expand-right"><span class="ladda-label">Search</span></a>
        </div>
      </form>
    </div>
  </div>

    {% if hotel_info %}

      {% for hotel in hotel_info %}

      <div class="row">
        <section class="deal-block col-sm-10">
          <h1 class="">{{ hotel.name }}</h1>
          <h3 class="">{{ hotel.star_rating }}</h3>
          <div>{{ hotel.address }}</div>
          <div>{{ hotel.description }}</div>
        </section>
        <div class="deeplink col-sm-2">
          <h1>${{ hotel.nightly_price }}</h1>
          <a class="btn btn-primary" href="{{ hotel.booking_deeplink }}" rel="nofollow">Book Deal</a>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    {% if error != '' %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ error }}
      </div>
    {% endif %}
</main>

{% endblock %}

{% block js %}

  <script src="{{ request.static_url('deal_thief:static/vendor/plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/spin.min.js') }}"></script>
  <script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda.min.js') }}"></script>
  <script src="{{ request.static_url('deal_thief:static/vendor/plugins/ladda/ladda.jquery.min.js') }}"></script>

  <script>
    $('#search-date').datepicker({
      autoclose: true,
      startDate: '+1d',
      todayHighlight: true,
      orientation: "bottom auto"
    });
    var l = $( '.ladda-button' ).ladda();
    l.click(function(){
        l.ladda('start');
        $('#search-form').submit();
    });
  </script>
{% endblock %}
