<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Deal Thief | {{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor css -->
    <link rel="stylesheet" href="/static/vendor/css/normalize.css">
    <link rel="stylesheet" href="/static/vendor/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.offcanvas.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin">

    <!-- Custom css -->
    <link rel="stylesheet" href="/static/assets/css/base.css">
    <link rel="stylesheet" href="/static/assets/css/layout.css">
    <link rel="stylesheet" href="/static/assets/css/modules.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/dashboard.css">
    <link rel="stylesheet" href="{{ request.static_url('deal_thief:static/assets/css/dashboard.css') }}" />
    {% block css %} {% endblock %}

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
						<a class="navbar-brand" href="/"><img id="nav-logo" src="{{ request.static_url('deal_thief:static/assets/img/dealthief-logo.png') }}"></a>
	        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li {% if page_title == 'Dashboard' %} class="active" {% endif %}><a href="/dashboard">Dashboard</a></li>
              <li {% if page_title == 'My profile' %} class="active" {% endif %}><a href="/profile">My profile</a></li>
              <li><a href="/">Front page</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
	      </div>
	    </nav>

	    <div class="container-fluid">
	      <div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
							<li {% if page_title == 'Dashboard' %} class="active" {% endif %}><a href="/dashboard">Dashboard</a></li>
	            <li {% if page_title == 'My profile' %} class="active" {% endif %}><a href="/profile">My profile</a></li>
              <li><a href="/">Front page</a></li>
							<li><a href="/logout">Log out</a></li>
	          </ul>
	        </div>
	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
						{% block body %} {% endblock %}
	        </div>
	      </div>
	    </div>

			<script src="/static/vendor/js/jquery-2.2.4.min.js"></script>
			<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
			<script src="/static/vendor/bootstrap/js/bootstrap.offcanvas.min.js"></script>
      {% block js %} {% endblock %}
	</body>
</html>
