a {
  color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #FF530D;
  color: #fff;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;

  background-color: #FF530D;
}

@media only screen and (min-width: 767px) {
  .sidebar {
    background-color: #31353E;
  }

}
