.navbar-default {
	background-color: #31353E;;
	border-color: none;
}

.navbar-default .navbar-brand {
	padding: 0;
	padding-top: 0.3em;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
	padding-top: 17px;
	padding-bottom: 9px;
}

.navbar-default .navbar-right>li>a:hover {
	color: #FFF;
}

.navbar-default .navbar-brand img {
	max-width: 150px;
}

.navbar-default .navbar-right>li:hover {
	border-bottom: 5px solid #FF530D;
}

.navbar-default .navbar-right .current {
	border-bottom: 5px solid #FF530D;
}

.btn-primary {
	background: transparent;
	color: #31353E;
	border-color: #31353E;
}

.btn-primary:hover {
	background: #31353E;
	border-color: #31353E;
}

.btn-success {
	background: transparent;
	color: #FF530D;
	border-color: #FF530D;
}

.btn-success:hover {
	background: #FF530D;
	border-color: #FF530D;
}

#slider {
	height: 60%;
}

#slider .ms-caption {
	max-width: 65% !important;
	margin-top: 10% !important;
	line-height: 1.5 !important;
	margin-left: 1.5em;
	padding: 0.3em 0.5em 0.3em 0.5em;
	color: #FFF;
	font-size: 14px !important;
	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.4);*/
}

#search-section {
	height: 40%;
}

#search-section h3 {
	color: #FFF
}

#login-page {
	padding-top: 7em;
}

#login-page form button {
	width: 100%;
}

.deal-block {
	border: 1px solid;
}

.deeplink {
	border: 1px solid;
}

/*.custom-nav {
	background: linear-gradient(to right, #FF530D 50%, #31353E 50%);
}*/

@media only screen and (max-width: 767px) {
	#slider .ms-caption {
		margin-top: 18% !important;
	}
	#search-form .btn {
		width: 100%;
	}

	#search-form label {
		display: none;
	}
}

@media only screen and (min-width: 767px) {
	#slider {
		height: 75%;
	}

	#search-section {
		height: 25%;
	}

	#search-section #search-title {
		padding-top: 2.5em;
	}

	#search-section #search-form {
		margin-top: 3em;
	}

	#search-section #search-form .btn {
		margin-top: 1.82em;
	}

	#search-section #search-form-container {
		background: #FF530D;
		height: 100%
	}

	#search-form .form-group {
		width: 100%;
	}

	#search-form .input-wrapper {
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	#search-form input {
		width: 100%;
	}

	#search-page form .btn {
		margin-top: 1.82em;
	}
}
