.navbar-default {
	background-color: transparent;
	border-color: transparent;	
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

#search-section {
	min-height: 230px;
	background-color: #31353e;
}

#search-section #search-title {
	padding-top: 4em;
}

#search-section #search-form-container {
	min-height: 230px;
	background: #FF530D;
}

#search-section h3 {
	color: #FFF
}

#search-section #search-form {
	margin: 3em;
	margin-top: 5em;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

