.navbar-default {
	background-color: transparent;
	border-color: transparent;	
}

.navbar-default .navbar-header {
	color: #FFF;
	padding-top: 0.5em;
}

.navbar-default .navbar-brand {
	padding: 0;
}

.navbar-default .navbar-brand img {
	max-width: 150px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

#navbar {
	padding-top: 0.5em
}

#slider {
	height: 60%;
}

#search-section {
	height: 40%;
	background-color: #31353e;
}

#search-section h3 {
	color: #FFF
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


@media only screen and (max-width: 767px) {
	#search-form .btn {
		width: 100%;
	}
}

@media only screen and (min-width: 767px) {
	#slider {
		height: 75%;
	}

	#search-section {
		height: 25%;
	}

	#search-section #search-title {
		padding-top: 4em;
	}

	#search-section #search-form {
		margin: 3em;
		margin-top: 5em;
	}

	#search-section #search-form-container {
		background: #FF530D;
		height: 100%
	}
}
